.home {
    max-width: 1500px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* 이미지의 하단을 투명하게 그라데이션 앞의 색상이 1이면 하단, 뒤의 색상이 1이면 상단 투명 */
    z-index: -1;
    margin-bottom: -150px;
}